@using ERP.DatabaseLayer
@using ERP_App.Models
@{
    var userid = 0;
    var usertypeid = 0;
    //Yeh ab Admin nahi keray ga, bel-k comapny khod keray gi. es liye zeyada validation add hon gi.
    var companyid = 0;
    var branchid = 0;
    var branchtypeid = 0;
    int.TryParse(Convert.ToString(Session["UserID"]), out userid);
    int.TryParse(Convert.ToString(Session["UserTypeId"]), out usertypeid);
    int.TryParse(Convert.ToString(Session["CompanyID"]), out companyid);
    int.TryParse(Convert.ToString(Session["BranchID"]), out branchid);
    int.TryParse(Convert.ToString(Session["BranchTypeID"]), out branchtypeid);
    BusinessERP_DBEntities DB = new BusinessERP_DBEntities();
    ViewBag.Title = "HeadOffice";
}

<h2>HeadOffice</h2>
<div class="row">
    <div class="col-xl-3 col-lg-6">
        <!-- START card-->
        <div class="card bg-primary border-0">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-3">
                        <em class="fa fa-product-hunt fa-5x"></em>
                    </div>
                    <div class="col-9 text-right">
                        <div class="text-lg">@DB.tblStocks.Where(x=>x.CompanyID == companyid && x.BranchID == branchid &&x.Quantity > 0).Count()</div>
                        <p class="m-0">Available Products</p>
                    </div>
                </div>
            </div>
            <a class="card-footer bg-gray-dark bt0 clearfix btn-block d-flex" href="#">
                <span>View Details</span>
                <span class="ml-auto">
                    <em class="fa fa-chevron-circle-right"></em>
                </span>
            </a>
            <!-- END card-->
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <!-- START card-->
        <div class="card bg-green border-0">
            <div class="card-header">
                <div class="row align-items-center">
                    
                    <div class="col-9 text-right">
                        @{
                            var or = DB.tblOrderDetails.Where(x => x.CompanyFID == companyid && x.BranchFID == branchid).Select(x => x.OrderFID).ToList();
                            var purchase = DB.tblOrders.Where(x => x.OrderType == "Purchase" && or.Contains(x.OrderID)).Count();
                        }
                        <div class="text-lg">@purchase</div>
                        <p class="m-0">All Purchases Count</p>
                    </div>
                </div>
            </div>
            <a class="card-footer bg-gray-dark bt0 clearfix btn-block d-flex" href="#">
                <span>View Details</span>
                <span class="ml-auto">
                    <em class="fa fa-chevron-circle-right"></em>
                </span>
            </a>
        </div>
        <!-- END card-->
    </div>
    <div class="col-xl-3 col-lg-6">
        <!-- START card-->
        <div class="card bg-warning border-0">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-3">
                        <em class="fa fa-shopping-cart fa-5x"></em>
                    </div>
                    @{
                        var orderid = DB.tblOrderDetails.Where(x => x.CompanyFID == companyid && x.BranchFID == branchid).Select(x => x.OrderFID).ToList();
                        var orders = DB.tblOrders.Where(x => x.OrderType == "Sale" && orderid.Contains(x.OrderID)).Count();
                    }
                    <div class="col-9 text-right">
                        <div class="text-lg">@orders</div>
                        <p class="m-0">All Sales Count!</p>
                    </div>
                </div>
            </div>
            <a class="card-footer bg-gray-dark bt0 clearfix btn-block d-flex" href="#">
                <span>View Details</span>
                <span class="ml-auto">
                    <em class="fa fa-chevron-circle-right"></em>
                </span>
            </a>
        </div>
        <!-- END card-->
    </div>
    <!--<div class="col-xl-3 col-lg-6">-->
        <!-- START card-->
        <!--<div class="card bg-danger border-0">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-3">
                        <em class="fa fa-support fa-5x"></em>
                    </div>
                    <div class="col-9 text-right">
                        <div class="text-lg">13</div>
                        <p class="m-0">Support Tickets!</p>
                    </div>
                </div>
            </div>
            <a class="card-footer bg-gray-dark bt0 clearfix btn-block d-flex" href="#">
                <span>View Details</span>
                <span class="ml-auto">
                    <em class="fa fa-chevron-circle-right"></em>
                </span>
            </a>
        </div>-->
        <!-- END card-->
    <!--</div>-->
</div>

